<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Pags   </title>
</head>
<body>
    <h1>This is Login Page</h1>
    <form action="/user-login" method="post">
        Email: <input type="email" placeholder="abc@gmail.com" name="email">
        Password: <input type="password" placeholder="password" name="password">
        <input type="submit" value="submit">
    </form>
</body>
</html>