<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>
<body>

    <h1>This is Register Page</h1>
    <form action="/register" method="post">
        Username: <input type="text" placeholder="Enter Username" name="username">
        Email: <input type="email" placeholder="abc@gmail.com" name="email">
        Password: <input type="password" placeholder="password" name="password">
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>