<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
</head>
<body>

    <h1>Hello this is yaswanth</h1>
    <p>This is my new DashBoard</p>
    <br><br><br>
    <form action="/logout" method="POST">
        <button>Logout</button>
    </form>
    
</body>
</html>